span{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    border: black solid 1px;
}

 .odd span:nth-child(6n+1) , .odd span:nth-child(6n+2) , .odd span:nth-child(6n+3)  {
    background-color:green;
 } 

 .even span:nth-child(n+4):nth-child(-n+6){
    background-color:green;
 }

 div , span {
    margin: 15px;
 }
